asttokens
backcall
brotlipy==0.7.0
certifi
cffi
charset-normalizer
cryptography
cycler==0.11.0
debugpy
decorator
entrypoints
executing
fastremap==1.13.3
fonttools==4.36.0
h5py==3.7.0
idna
importlib-metadata==4.12.0
ipykernel
ipython
jedi
jupyter-client
jupyter-core
kiwisolver==1.4.4
kornia==0.6.6
llvmlite==0.39.0
matplotlib==3.5.3
matplotlib-inline
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
monai==0.9.1
natsort==8.1.0
nest-asyncio
numba==0.56.0
numpy==1.22.4
opencv-python==4.6.0.66
packaging==21.3
parso
pexpect
pickleshare
Pillow==9.2.0
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil
pyzmq
requests
scipy==1.9.0
six
stack-data
tifffile==2022.8.12
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado
tqdm==4.64.0
traitlets
typing_extensions
urllib3
wcwidth
zipp==3.8.1
